---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
---

<BaseLayout
  title="Sloane Square Hotel"
  description="Information Website for Inhouse Guest at Sloane Square Hotel"
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <h1
    class="text-3xl text-center font-extrabold leading-tight tracking-tighter md:text-4xl"
  > <u>Sloane Square Hotel in PT-BR</u>
  </h1>
  
  <div class="flex gap-4">
    

  </div>

  </section>
</BaseLayout>
